.error{
    color: red;
    font-size: 12px;
}
hr {
    color: blue;
    background-color: blue;
    height: 1px;
}
.ui-dialog { font-size: 11px; }
#question {
    width: 300px!important;
    height: 60px!important;
    padding: 10px 0 0 10px;
}
#question img {
    float: left;
}
#question span {
    float: left;
    margin: 20px 0 0 10px;
}
.ui-dialog 
.ui-dialog-titlebar-close{
    background-image: url(../img/remove.png);
    background-color: white;
}
.ui-draggable 
.ui-dialog-titlebar{
    background-color: #006621;
}
.navbar-default 
.navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{background-color: #006621}
#menutitle{
    color: white;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    background-color: #006621;
}
body {
    padding-top: 105px;
}

/*AtlantaJeans theme added*/
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #006621;
    border-color: #f0dbe1;
}
.panel-primary{
    border-color: #f0dbe1;
}
a {
    color: #006621;
    text-decoration: none;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #006621;
    border-color: #f0dbe1;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
.btn-primary {
    color: #fff;
    background-color: #006621;
    border-color: #f0dbe1;
}
hr {
    color: #f0dbe1;
    background-color: #f0dbe1;
    height: 1px;
}
#box{
    width: 100px; 
    height: 35px;
    border-radius: 10px;
}
#valordisponivel{
    margin-top: 7px; 
    margin-bottom: 8px; 
    text-align: center; 
    font-weight:normal;
    color: white;
}
#mostrardata{
    display: none;
}

/*Rodapé*/
.footer {
    position:absolute;
    bottom:0;
    left: 0px;
    width:100%;
    height: 50px;
    background: #006621
}
p {
    max-width: 91%;
    text-align: right;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    background-color: #006621;
}
div.ui-datepicker{
    font-size:12px;
}
